<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nip.app.mapper.rbac.RbacRelationMapper">

    <select id="listRolesByUserName" resultType="com.nip.app.pojo.rbac.RoleDto">
        select r.*
        from nip_rbac_role r
                 left join nip_rbac_relation rr on r.role_code = rr.target
        where rr.binding_type = 'user_to_role'
          and rr.source = #{userName}
    </select>

    <select id="listMenusByUserName" resultType="com.nip.app.pojo.rbac.MenuDto">
        select r.*
        from nip_rbac_menu r
                 left join nip_rbac_relation rr on r.menu_code = rr.target
        where rr.binding_type = 'user_to_menu'
          and rr.source = #{userName}
    </select>

    <select id="listBySourceName" resultType="com.nip.app.pojo.rbac.RbacRelationDto">
        select rr.*
        from nip_rbac_relation rr
        where rr.binding_type = #{sourceType}
          and rr.source = #{sourceName}
    </select>
</mapper>
